.titre{
background-color:#ccddff;
padding:15px;
text-align:center;
}

* {
  box-sizing: border-box;
}
.toc {
  float:left;
  width:30%;
}

.toc h3 {
text-align:center;
}

.main {
  float:left;
  width:40%;
  padding:0 20px;
}
.right {
  background-color:#ccddff;
  float:left;
  width:30%;
  padding:15px;
  margin-top:7px;
  text-align:center;
}

.abstract {
border-top: 1px solid black;
border-bottom: 1px solid black;
background-color:#ccddff;
font-size: 90%;
padding:15px;
  margin-top:7px;
}
.abstract h3 {
text-align:center;
}

@media only screen and (max-width:620px) {
  /* For mobile phones: */
  .toc, .main, .right {
    width:100%;
  }
}

.toc-section-number::after {
    content: ". ";
}


.header-section-number::after {
    content: ". ";
}

blockquote {
font-size:90%;
background-color:#e6eeff;
padding:15px;
}

img {
    width: 100%;
}

.references{
border-top: 2px solid black;
}

table, td, th {    
    border: 1px solid #ddd;
    text-align: left;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    padding: 15px;
}

.caption{
color : #585858;
font-weight: bold;
font-size: 80%;
text-align: right;
}

